<configuration>
	<system.webServer>
		<rewrite>
			<rules>

				<!-- redirecionamento sem WWW -->
				<rule name="RedirectNonWwwToWww" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^murillobrito.com.br$" />
					</conditions>
					<action type="Redirect" url="https://www.murillobrito.com.br/{R:0}" redirectType="Permanent" />
				</rule>

				<!-- Aborta qualquer tentativa de acesso a .php -->
				<rule name="PHP" stopProcessing="true">
				  <match url="^.*\.php$"/>
				  <action type="AbortRequest"/>
				</rule>
				<!-- Aborta qualquer tentativa de scan por WordPress -->
				<rule name="WordPress" stopProcessing="true">
				  <match url="^((wp-(admin|includes|content))|wp/)"/>
				  <action type="AbortRequest"/>
				</rule>
				<!-- Aborta qualquer tentativa de scan por CMS -->
				<rule name="CMS" stopProcessing="true">
				  <match url="^(joomla|components|wordpress|blog)"/>
				  <action type="AbortRequest"/>
				</rule>
				<!-- Aborta qualquer tentativa de scan por arquivos de configuração-->
				<rule name="Configuracoes" stopProcessing="true">
				  <match url="(htaccess\.txt|\.htaccess|phpunit\.xml|phpunit\.xml\.dist|robots\.txt\.dist|web\.config\.txt|readme\.htm|readme\.html|help\.txt|browserconfig\.xml|WebResource\.axd|gitattributes|editorconfig|\.git|xml\.log|log\.txt|xml\.txt|logs\.asp)"/>
				  <action type="AbortRequest"/>
				</rule>

                <rule name="Prerender.io rewrite rule" stopProcessing="true">
                    <match url="(\.htm|\.html|\.js|\.json|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent|\.ttf|\.woff|\.svg)" negate="true" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_USER_AGENT}" pattern="googlebot|bingbot|yandex|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest\/0\.|pinterestbot|slackbot|vkShare|W3C_Validator|whatsapp|redditbot|applebot|flipboard|tumblr|bitlybot|skypeuripreview|nuzzel|discordbot|google\ page\ speed|qwantify|bitrix\ link\ preview|xing-contenttabreceiver|chrome-lighthouse|telegrambot" />
                        <add input="{QUERY_STRING}" pattern="(.*)_escaped_fragment_(.*)" />
                    </conditions>
                    <action type="Rewrite" url="https://service.prerender.io/https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" logRewrittenUrl="true" />
                    <serverVariables>
                        <set name="HTTP_X_PRERENDER_TOKEN" value="JdtnVCoOaXkxAbADcfS7" />
                    </serverVariables>
                </rule>

				<rule name="Angular Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" pattern="api(.*?)" negate="true" />
					</conditions>
					<action type="Rewrite" url="./index.html" />
				</rule>

			</rules>

		</rewrite>
	</system.webServer>
</configuration>
